.title-block .title{
    display: inline-block;
    padding: 30px 60px;
    background: #f4f4f4;
    border-radius: 4px;
    font-weight: normal;
    margin-bottom: 10px;
  }
  
 .title-block .subtitle{
    display: inline-block;
    color: #555;
    font-weight: normal;
    padding-bottom: 20px;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 60px;
    margin-top: 10px;
  }